In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = (SparkSession.builder.master("local")
             .appName("Bronze to Silver")
             .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.3.1,com.amazonaws:aws-java-sdk-bundle:1.11.375")
             .config("spark.hadoop.fs.s3a.access.key", "minio_access_key")
             .config("spark.hadoop.fs.s3a.secret.key", "minio_secret_key")
             .config("spark.hadoop.fs.s3a.path.style.access", "true")
             .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
             .config("spark.hadoop.fs.s3a.endpoint", "http://localhost:9000")
             .getOrCreate())

24/06/01 23:19:44 WARN Utils: Your hostname, datdt resolves to a loopback address: 127.0.1.1; using 192.168.2.12 instead (on interface wlp0s20f3)
24/06/01 23:19:44 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/home/datdt/anaconda3/envs/de/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/datdt/.ivy2/cache
The jars for the packages stored in: /home/datdt/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
com.amazonaws#aws-java-sdk-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-ae14e016-4a6c-4d27-a235-a4abe5877499;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.3.1 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.901 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
:: resolution report :: resolve 147ms :: artifacts dl 6ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.901 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.1 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	:: evicted modules:
	com.amazonaws#aws-java-sdk-bundle;1.11.375 by [com.amazonaws#aws-java-sdk-bundle;1.11.901] in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   1   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-ae14e016-4a6c-4d27-a235-a4abe5877499
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/2ms)

24/06/01 23:19:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
df = spark.read.parquet(f"s3a://bronze-data/raw_data")
df.show()

24/06/01 23:19:47 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+
|age|          job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+
| 19|self-employed|divorced|  unknown|    yes|  -2820|    yes| yes| cellular| 31|  dec|    1933|       4|   15|       3| failure|
| 79| entrepreneur|  single|  primary|    yes|  -5277|    yes| yes|  unknown| 23|  aug|    1919|       8|    3|       7|   other|
| 71| entrepreneur| married|secondary|    yes|  -6381|    yes|  no|  unknown| 10|  sep|     332|       9|   10|       7| failure|
| 78|      student|  single|secondary|    yes|   9437|    yes|  no|telephone|  9|  mar|    2194|       5|    3|      10| unknown|
| 52|       admin.|  single| tertiary|    yes|   8987|    yes| yes|  unknown| 11|  oct|    2841|       7|   27|      10| success|
| 49|  blue-collar|  single|  unknown|     no|    458|    yes| yes|  unknown|  7|  oct|    3370|      10|   18|       0| success|
| 79|      student|divorced|secondary|    yes|   3930|    yes|  no| cellular|  8|  dec|    2069|       5|   30|       7| unknown|
| 70|      student|divorced|  unknown|     no|  -2622|    yes| yes| cellular| 27|  sep|    2971|       9|   15|       0| unknown|
| 29|      student|  single|  unknown|     no|   1395|     no|  no| cellular| 16|  dec|    1080|       5|   12|       1|   other|
| 64|      student|  single|  unknown|     no|  -2714|    yes| yes| cellular| 20|  feb|    1712|       8|   23|       4| success|
| 77|    housemaid|  single|secondary|     no|   9755|    yes| yes|telephone|  1|  nov|    1755|       1|   -1|       4| failure|
| 24|   unemployed|divorced|secondary|    yes|    851|     no| yes|telephone| 23|  apr|    1402|       9|   25|       9| failure|
| 38|self-employed| married|secondary|    yes|   7011|    yes|  no| cellular| 23|  jul|    3260|       8|   30|       1|   other|
| 29|      student|divorced| tertiary|    yes|  -5891|     no| yes| cellular| 30|  apr|     802|       8|   17|       4|   other|
| 80| entrepreneur|divorced|  unknown|     no|  -7156|    yes| yes|telephone| 17|  may|    2457|       1|   19|       9|   other|
| 33|      unknown|divorced|  primary|     no|    930|     no|  no|telephone| 24|  sep|    2975|       9|    1|       9| success|
| 44|    housemaid|  single|  primary|    yes|   2617|     no| yes|  unknown| 27|  nov|    3090|       7|   18|       3| failure|
| 55|      student|divorced|  unknown|    yes|   1575|    yes| yes|telephone| 20|  oct|     290|      10|   -1|       5| success|
| 69|      unknown| married|  unknown|    yes|  -4863|    yes| yes| cellular| 29|  aug|     164|      10|    6|       0| unknown|
| 74|     services| married|  unknown|    yes|  -7030|     no|  no| cellular| 19|  jun|    2985|       1|   25|       4| failure|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+
only showing top 20 rows

In [11]:
# Transformations with categorical data
from pyspark.sql.functions import when

df = df.withColumn('default', when(df['default'] == 'yes', 1).otherwise(0))
df = df.withColumn('housing', when(df['housing'] == 'yes', 1).otherwise(0))
df = df.withColumn('loan', when(df['loan'] == 'yes', 1).otherwise(0))
df.show()

+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+----+
|age|          job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|load|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+----+
| 19|self-employed|divorced|  unknown|      0|  -2820|      0|   1| cellular| 31|  dec|    1933|       4|   15|       3| failure|   0|
| 79| entrepreneur|  single|  primary|      0|  -5277|      0|   1|  unknown| 23|  aug|    1919|       8|    3|       7|   other|   0|
| 71| entrepreneur| married|secondary|      0|  -6381|      0|   0|  unknown| 10|  sep|     332|       9|   10|       7| failure|   0|
| 78|      student|  single|secondary|      0|   9437|      0|   0|telephone|  9|  mar|    2194|       5|    3|      10| unknown|   0|
| 52|       admin.|  single| tertiary|      0|   8987|      0|   1|  unknown| 11|  oct|    2841|       7|   27|      10| success|   0|
| 49|  blue-collar|  single|  unknown|      0|    458|      0|   1|  unknown|  7|  oct|    3370|      10|   18|       0| success|   0|
| 79|      student|divorced|secondary|      0|   3930|      0|   0| cellular|  8|  dec|    2069|       5|   30|       7| unknown|   0|
| 70|      student|divorced|  unknown|      0|  -2622|      0|   1| cellular| 27|  sep|    2971|       9|   15|       0| unknown|   0|
| 29|      student|  single|  unknown|      0|   1395|      0|   0| cellular| 16|  dec|    1080|       5|   12|       1|   other|   0|
| 64|      student|  single|  unknown|      0|  -2714|      0|   1| cellular| 20|  feb|    1712|       8|   23|       4| success|   0|
| 77|    housemaid|  single|secondary|      0|   9755|      0|   1|telephone|  1|  nov|    1755|       1|   -1|       4| failure|   0|
| 24|   unemployed|divorced|secondary|      0|    851|      0|   1|telephone| 23|  apr|    1402|       9|   25|       9| failure|   0|
| 38|self-employed| married|secondary|      0|   7011|      0|   0| cellular| 23|  jul|    3260|       8|   30|       1|   other|   0|
| 29|      student|divorced| tertiary|      0|  -5891|      0|   1| cellular| 30|  apr|     802|       8|   17|       4|   other|   0|
| 80| entrepreneur|divorced|  unknown|      0|  -7156|      0|   1|telephone| 17|  may|    2457|       1|   19|       9|   other|   0|
| 33|      unknown|divorced|  primary|      0|    930|      0|   0|telephone| 24|  sep|    2975|       9|    1|       9| success|   0|
| 44|    housemaid|  single|  primary|      0|   2617|      0|   1|  unknown| 27|  nov|    3090|       7|   18|       3| failure|   0|
| 55|      student|divorced|  unknown|      0|   1575|      0|   1|telephone| 20|  oct|     290|      10|   -1|       5| success|   0|
| 69|      unknown| married|  unknown|      0|  -4863|      0|   1| cellular| 29|  aug|     164|      10|    6|       0| unknown|   0|
| 74|     services| married|  unknown|      0|  -7030|      0|   0| cellular| 19|  jun|    2985|       1|   25|       4| failure|   0|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+----+
only showing top 20 rows

In [26]:
from pyspark.sql.functions import when

# Replace 'divorced' with '0', 'single' with '1', and 'married' with '2'
df = df.withColumn('marital', when(df['marital'] == 'divorced', 0)
                                 .when(df['marital'] == 'single', 1)
                                 .when(df['marital'] == 'married', 2)
                                 .otherwise(df['marital']))

df = df.withColumn('education', when(df['education'] == 'unknown', 0).
                                    when(df['education'] == 'primary', 1).
                                    when(df['education'] == 'secondary', 2).
                                    when(df['education'] == 'tertiary', 3).
                                    otherwise(df['education']))

df = df.withColumn('job', when(df['job'] == 'admin.', 0)
                          .when(df['job'] == 'unknown', 1)
                          .when(df['job'] == 'unemployed', 2)
                          .when(df['job'] == 'management', 3)
                          .when(df['job'] == 'housemaid', 4)
                          .when(df['job'] == 'entrepreneur', 5)
                          .when(df['job'] == 'student', 6)
                          .when(df['job'] == 'blue-collar', 7)
                          .when(df['job'] == 'self-employed', 8)
                          .when(df['job'] == 'retired', 9)
                          .when(df['job'] == 'technician', 10)
                          .when(df['job'] == 'services', 11)
                          .otherwise(df['job']))

df = df.withColumn('contact', when(df['contact'] == 'unknown', 0)
                               .when(df['contact'] == 'telephone', 1)
                               .when(df['contact'] == 'cellular', 2)
                               .otherwise(df['contact']))

df = df.withColumn('poutcome', when(df['poutcome'] == 'unknown', 0)
                                .when(df['poutcome'] == 'other', 1)
                                .when(df['poutcome'] == 'failure', 2)
                                .when(df['poutcome'] == 'success', 3)
                                .otherwise(df['poutcome']))
df.show()

+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+----+---------------+
|age|job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|load|marital_encoded|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+----+---------------+
| 19|  8|      0|        0|      0|  -2820|      0|   1|      2| 31|  dec|    1933|       4|   15|       3|       2|   0|            1.0|
| 79|  5|      1|        1|      0|  -5277|      0|   1|      0| 23|  aug|    1919|       8|    3|       7|       1|   0|            0.0|
| 71|  5|      2|        2|      0|  -6381|      0|   0|      0| 10|  sep|     332|       9|   10|       7|       2|   0|            2.0|
| 78|  6|      1|        2|      0|   9437|      0|   0|      1|  9|  mar|    2194|       5|    3|      10|       0|   0|            0.0|
| 52|  0|      1|        3|      0|   8987|      0|   1|      0| 11|  oct|    2841|       7|   27|      10|       3|   0|            0.0|
| 49|  7|      1|        0|      0|    458|      0|   1|      0|  7|  oct|    3370|      10|   18|       0|       3|   0|            0.0|
| 79|  6|      0|        2|      0|   3930|      0|   0|      2|  8|  dec|    2069|       5|   30|       7|       0|   0|            1.0|
| 70|  6|      0|        0|      0|  -2622|      0|   1|      2| 27|  sep|    2971|       9|   15|       0|       0|   0|            1.0|
| 29|  6|      1|        0|      0|   1395|      0|   0|      2| 16|  dec|    1080|       5|   12|       1|       1|   0|            0.0|
| 64|  6|      1|        0|      0|  -2714|      0|   1|      2| 20|  feb|    1712|       8|   23|       4|       3|   0|            0.0|
| 77|  4|      1|        2|      0|   9755|      0|   1|      1|  1|  nov|    1755|       1|   -1|       4|       2|   0|            0.0|
| 24|  2|      0|        2|      0|    851|      0|   1|      1| 23|  apr|    1402|       9|   25|       9|       2|   0|            1.0|
| 38|  8|      2|        2|      0|   7011|      0|   0|      2| 23|  jul|    3260|       8|   30|       1|       1|   0|            2.0|
| 29|  6|      0|        3|      0|  -5891|      0|   1|      2| 30|  apr|     802|       8|   17|       4|       1|   0|            1.0|
| 80|  5|      0|        0|      0|  -7156|      0|   1|      1| 17|  may|    2457|       1|   19|       9|       1|   0|            1.0|
| 33|  1|      0|        1|      0|    930|      0|   0|      1| 24|  sep|    2975|       9|    1|       9|       3|   0|            1.0|
| 44|  4|      1|        1|      0|   2617|      0|   1|      0| 27|  nov|    3090|       7|   18|       3|       2|   0|            0.0|
| 55|  6|      0|        0|      0|   1575|      0|   1|      1| 20|  oct|     290|      10|   -1|       5|       3|   0|            1.0|
| 69|  1|      2|        0|      0|  -4863|      0|   1|      2| 29|  aug|     164|      10|    6|       0|       0|   0|            2.0|
| 74| 11|      2|        0|      0|  -7030|      0|   0|      2| 19|  jun|    2985|       1|   25|       4|       2|   0|            2.0|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+----+---------------+
only showing top 20 rows

In [25]:
df.groupBy('job').count().show()

+-------------+-----+
|          job|count|
+-------------+-----+
|   management|  158|
|      retired|  144|
|      unknown|  190|
|self-employed|  160|
|      student|  177|
|  blue-collar|  178|
| entrepreneur|  163|
|       admin.|  155|
|   technician|  167|
|     services|  166|
|    housemaid|  170|
|   unemployed|  172|
+-------------+-----+