In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = (SparkSession.builder.master("local")
             .appName("Bronze to Silver")
             .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.3.1,com.amazonaws:aws-java-sdk-bundle:1.11.375")
             .config("spark.hadoop.fs.s3a.access.key", "minio_access_key")
             .config("spark.hadoop.fs.s3a.secret.key", "minio_secret_key")
             .config("spark.hadoop.fs.s3a.path.style.access", "true")
             .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem")
             .config("spark.hadoop.fs.s3a.endpoint", "http://localhost:9000")
             .getOrCreate())

24/05/31 15:05:29 WARN Utils: Your hostname, datdt resolves to a loopback address: 127.0.1.1; using 192.168.2.12 instead (on interface wlp0s20f3)
24/05/31 15:05:29 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/home/datdt/anaconda3/envs/de/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/datdt/.ivy2/cache
The jars for the packages stored in: /home/datdt/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
com.amazonaws#aws-java-sdk-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-e2195a6c-7b21-4eb9-be77-7538feeaa8c3;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.3.1 in central
	found com.amazonaws#aws-java-sdk-bundle;1.11.901 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
:: resolution report :: resolve 197ms :: artifacts dl 7ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.11.901 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.1 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	:: evicted modules:
	com.amazonaws#aws-java-sdk-bundle;1.11.375 by [com.amazonaws#aws-java-sdk-bundle;1.11.901] in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   1   ||   3   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-e2195a6c-7b21-4eb9-be77-7538feeaa8c3
	confs: [default]
	0 artifacts copied, 3 already retrieved (0kB/6ms)

24/05/31 15:05:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
df = spark.read.parquet(f"s3a://bronze-data/raw_data")
df.show()

24/05/31 15:05:32 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+
|age|          job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+
| 19|self-employed|divorced|  unknown|    yes|  -2820|    yes| yes| cellular| 31|  dec|    1933|       4|   15|       3| failure|
| 79| entrepreneur|  single|  primary|    yes|  -5277|    yes| yes|  unknown| 23|  aug|    1919|       8|    3|       7|   other|
| 71| entrepreneur| married|secondary|    yes|  -6381|    yes|  no|  unknown| 10|  sep|     332|       9|   10|       7| failure|
| 78|      student|  single|secondary|    yes|   9437|    yes|  no|telephone|  9|  mar|    2194|       5|    3|      10| unknown|
| 52|       admin.|  single| tertiary|    yes|   8987|    yes| yes|  unknown| 11|  oct|    2841|       7|   27|      10| success|
| 49|  blue-collar|  single|  unknown|     no|    458|    yes| yes|  unknown|  7|  oct|    3370|      10|   18|       0| success|
| 79|      student|divorced|secondary|    yes|   3930|    yes|  no| cellular|  8|  dec|    2069|       5|   30|       7| unknown|
| 70|      student|divorced|  unknown|     no|  -2622|    yes| yes| cellular| 27|  sep|    2971|       9|   15|       0| unknown|
| 29|      student|  single|  unknown|     no|   1395|     no|  no| cellular| 16|  dec|    1080|       5|   12|       1|   other|
| 64|      student|  single|  unknown|     no|  -2714|    yes| yes| cellular| 20|  feb|    1712|       8|   23|       4| success|
| 77|    housemaid|  single|secondary|     no|   9755|    yes| yes|telephone|  1|  nov|    1755|       1|   -1|       4| failure|
| 24|   unemployed|divorced|secondary|    yes|    851|     no| yes|telephone| 23|  apr|    1402|       9|   25|       9| failure|
| 38|self-employed| married|secondary|    yes|   7011|    yes|  no| cellular| 23|  jul|    3260|       8|   30|       1|   other|
| 29|      student|divorced| tertiary|    yes|  -5891|     no| yes| cellular| 30|  apr|     802|       8|   17|       4|   other|
| 80| entrepreneur|divorced|  unknown|     no|  -7156|    yes| yes|telephone| 17|  may|    2457|       1|   19|       9|   other|
| 33|      unknown|divorced|  primary|     no|    930|     no|  no|telephone| 24|  sep|    2975|       9|    1|       9| success|
| 44|    housemaid|  single|  primary|    yes|   2617|     no| yes|  unknown| 27|  nov|    3090|       7|   18|       3| failure|
| 55|      student|divorced|  unknown|    yes|   1575|    yes| yes|telephone| 20|  oct|     290|      10|   -1|       5| success|
| 69|      unknown| married|  unknown|    yes|  -4863|    yes| yes| cellular| 29|  aug|     164|      10|    6|       0| unknown|
| 74|     services| married|  unknown|    yes|  -7030|     no|  no| cellular| 19|  jun|    2985|       1|   25|       4| failure|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+
only showing top 20 rows

In [4]:
from pyspark.sql.functions import when

df = df.withColumn('default', when(df['default'] == 'yes', 1).otherwise(0))
df.show()

+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+
|age|          job| marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+
| 19|self-employed|divorced|  unknown|      1|  -2820|    yes| yes| cellular| 31|  dec|    1933|       4|   15|       3| failure|
| 79| entrepreneur|  single|  primary|      1|  -5277|    yes| yes|  unknown| 23|  aug|    1919|       8|    3|       7|   other|
| 71| entrepreneur| married|secondary|      1|  -6381|    yes|  no|  unknown| 10|  sep|     332|       9|   10|       7| failure|
| 78|      student|  single|secondary|      1|   9437|    yes|  no|telephone|  9|  mar|    2194|       5|    3|      10| unknown|
| 52|       admin.|  single| tertiary|      1|   8987|    yes| yes|  unknown| 11|  oct|    2841|       7|   27|      10| success|
| 49|  blue-collar|  single|  unknown|      0|    458|    yes| yes|  unknown|  7|  oct|    3370|      10|   18|       0| success|
| 79|      student|divorced|secondary|      1|   3930|    yes|  no| cellular|  8|  dec|    2069|       5|   30|       7| unknown|
| 70|      student|divorced|  unknown|      0|  -2622|    yes| yes| cellular| 27|  sep|    2971|       9|   15|       0| unknown|
| 29|      student|  single|  unknown|      0|   1395|     no|  no| cellular| 16|  dec|    1080|       5|   12|       1|   other|
| 64|      student|  single|  unknown|      0|  -2714|    yes| yes| cellular| 20|  feb|    1712|       8|   23|       4| success|
| 77|    housemaid|  single|secondary|      0|   9755|    yes| yes|telephone|  1|  nov|    1755|       1|   -1|       4| failure|
| 24|   unemployed|divorced|secondary|      1|    851|     no| yes|telephone| 23|  apr|    1402|       9|   25|       9| failure|
| 38|self-employed| married|secondary|      1|   7011|    yes|  no| cellular| 23|  jul|    3260|       8|   30|       1|   other|
| 29|      student|divorced| tertiary|      1|  -5891|     no| yes| cellular| 30|  apr|     802|       8|   17|       4|   other|
| 80| entrepreneur|divorced|  unknown|      0|  -7156|    yes| yes|telephone| 17|  may|    2457|       1|   19|       9|   other|
| 33|      unknown|divorced|  primary|      0|    930|     no|  no|telephone| 24|  sep|    2975|       9|    1|       9| success|
| 44|    housemaid|  single|  primary|      1|   2617|     no| yes|  unknown| 27|  nov|    3090|       7|   18|       3| failure|
| 55|      student|divorced|  unknown|      1|   1575|    yes| yes|telephone| 20|  oct|     290|      10|   -1|       5| success|
| 69|      unknown| married|  unknown|      1|  -4863|    yes| yes| cellular| 29|  aug|     164|      10|    6|       0| unknown|
| 74|     services| married|  unknown|      1|  -7030|     no|  no| cellular| 19|  jun|    2985|       1|   25|       4| failure|
+---+-------------+--------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+
only showing top 20 rows